// fonts

// STANDARD
	@font-face {
		font-family: 'Mohave';
	  src: url('../../assets/fonts/Mohave.otf') format('opentype');
	}

// STANDARD ITALIC
	@font-face {
		font-family: 'Mohave Italics';
	  src: url('../../assets/fonts/Mohave Italics.otf') format('opentype');
	}

// BOLD
	@font-face {
		font-family: 'Mohave-Bold';
	  src: url('../../assets/fonts/Mohave-Bold.otf') format('opentype');
	}

// BOLD ITALIC
	@font-face {
		font-family: 'Mohave-Bold Italics';
	  src: url('../../assets/fonts/Mohave-Bold Italics.otf') format('opentype');
	}